* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 100%;
    min-height: 360px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .img-container {
    width: 50%;
}

.container .img-container .img-container__image {
    max-width: 100%;
}